<h1>Teams</h1>

<p>
	An asterisk (*) by a team name designates that it has been updated this year.
    Being updated this year <i>most likely</i> means that it will be willing to participate in this year's game.
</p>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @teams.each do |team| %>
			<tr>
				<td><%= "* " if team.updated_this_year? %><%= team.name %></td>
				<td>
					<div class="btn-group btn-group-xs">
						<%= link_to "Show", team, class: "btn btn-default btn-xs" if can?(:read, team) %>
						<%= link_to "Edit", edit_team_path(team), class: "btn btn-default btn-xs" if can?(:update, team) %>
						<%= link_to "Destroy", team, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" if can?(:destroy, team) %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to "New Team", new_team_path, class: "btn btn-default" if can?(:create, Team) %>
