<div class="row">
	<div class="col-md-4">
		<%= image_tag @team.logo_url, width: "100%" if @team.logo_url %>

		<h1><%= @team.name %></h1>
	</div>

	<% if (current_user && current_user.admin?) || @team.in_game? %>
		<%= render "members", width: 2, team: @team, users: @users %>
	<% end %>
</div>

<% if @team.disbanded? %>
	<p>
		This team is disbanded.
		Contact an admin if you would like to join it to bring it back to life.
	</p>
<% end %>

<% unless @changes.empty? %>
	<h4>Name Changes</h4>
	<ol>
		<% @changes.each do |change| %>
			<li><%= change.from %> <%= glyphicon "arrow-right" %> <%= change.to %> on <%= change.created_at.strftime "%b %-d, %Y %l:%M %p" %>.</li>
		<% end %>
	</ol>
<% end %>

<% if @team.description %>
	<p><%= simple_format @team.description %></p>
<% end %>

<h4>Stats</h4>

<ul>
	<li>Total Kills: <%= @team.kills.where(confirmed: true).count %></li>
	<li>Highest Place: <%= @participations.max { |x, y| y.place <=> x.place } %></li>
</ul>

<% if @participations.count > 0 %>
	<h4>Past Games</h4>

	<ul>
		<% @participations.each_with_index do |p, i| %>
			<li>
				Participated in game <%= link_to @games[i].name, @games[i] %>.

				Place: <%= p.place %>

				<% if p.place > 4 && @games[i].ended_at.year >= 2015 %>
					Points: <%= @team.points(@games[i].id) %>
				<% end %>

				Kills: <%= @team.kills.where(game_id: @games[i].id, confirmed: true).count %>

				Neutralizations: <%= @team.target_neutralizations(@games[i].id).count %>
			</li>
		<% end %>
	</ul>
<% end %>

<%= link_to "Edit", edit_team_path(@team), class: "btn btn-default" if can?(:update, @team) %>
