<div class="row">
	<div class="col-md-4">
		<%= image_tag @team.logo_url, width: "100%" if @team.logo_url %>

		<h1><%= @team.name %></h1>
	</div>

	<% if (current_user && current_user.admin?) || @team.in_game? %>
		<%= render "members", width: 2, team: @team, users: @users %>
	<% end %>
</div>

<% if @team.disbanded? %>
	<p>
		This team is disbanded.
		Contact an admin if you would like to join it to bring it back to life.
	</p>
<% end %>

<% unless @changes.empty? %>
	<h4>Name Changes</h4>
	<ol>
		<% @changes.each do |change| %>
			<li><%= change.from %> <%= glyphicon "arrow-right" %> <%= change.to %> on <%= change.created_at.strftime "%b %-d, %Y %l:%M %p" %>.</li>
		<% end %>
	</ol>
<% end %>

<% if @team.description %>
	<p><%= simple_format @team.description %></p>
<% end %>

<%= link_to "Edit", edit_team_path(@team), class: "btn btn-default" if can?(:update, @team) %>
