<div class="row">
	<div class="col-md-4">
		<%= image_tag @team.logo_url, width: "100%" if @team.logo_url %>

		<h1><%= @team.name %></h1>
	</div>

	<% @team.members.each do |member| %>
		<div class="col-md-2">
			<%= image_tag member.profile_picture_url, width: "100%" %>

			<h2><%= member.name %></h2>

			<% if can? :update, @team %>
				<%= form_tag remove_team_path(@team) do %>
					<%= hidden_field_tag :email, member.email %>
					
					<%= submit_tag "Remove", class: "btn btn-danger" %>
				<% end %>
			<% end %>
		</div>
	<% end %>

	<% (4 - @team.members.count).times do %>
		<div class="col-md-2">
			<% if can? :update, @team %>
				<%= form_tag add_team_path(@team) do %>
					<h2>Add Member</h2>
					
					<%= text_field_tag :email, nil, placeholder: "Email", class: "form-control" %>
					
					<%= submit_tag "Go", class: "btn btn-success" %>
				<% end %>
			<% else %>
				<h2>No Member</h2>
			<% end %>
		</div>
	<% end %>
</div>

<% if @team.description %>
	<p><%= simple_format @team.description %></p>
<% end %>

<%= link_to "Edit", edit_team_path(@team), class: "btn btn-default" if can?(:update, @team) %>
