<p id="notice"><%= notice %></p>

<table style="max-width: inherit">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
				<%= image_tag @team.logo_url, size: "200" if @team.logo_url %>

				<h1><%= @team.name %></h1>
			</td>
			<% @team.members.each do |member| %>
				<td>
					<%= image_tag member.profile_picture_url, size: "150" %>

					<h2><%= member.name %></h2>

					<%= form_tag remove_team_path(@team) do %>
						<%= hidden_field_tag :email, member.email %>
						
						<%= submit_tag "Remove", class: "btn btn-danger" %>
					<% end %>
				</td>
			<% end %>
			<% (4 - @team.members.count).times do %>
				<td>
					<% if can? :update, @team %>
						<%= form_tag add_team_path(@team) do %>
							<h2>Add Member</h2>
							
							<%= text_field_tag :email, nil, placeholder: "Email" %>
							
							<%= submit_tag "Go", class: "btn btn-success" %>
						<% end %>
					<% else %>
						<h2>No Member</h2>
					<% end %>
				</td>
			<% end %>
		</tr>
	</tbody>
</table>

<% if @team.description %>
	<p>
		<%= markdown @team.description %>
	</p>
<% end %>

<%= link_to "Edit", edit_team_path(@team), class: "btn btn-default" if can?(:update, @team) %>
