<h1>Dashboard</h1>

<% if Rails.env.development? && (current_user.admin? || session[:previous_user_id]) %>
	<%= render "switch_user_select", user_names: @user_names %>
<% end %>

<% if current_user.admin? %>
	<h5>
		<b>View</b>
		
		<%= link_to "Pages", pages_path %>
		<%= link_to "Neutralizations", neutralizations_path %>
		<%= link_to "Kills", kills_path %>
		<%= link_to "Teams", teams_path %>
		<%= link_to "Users", users_path %>
	</h5>
	
	<% if @pregames.count > 0 %>
		<h2>Games To Be Started</h2>

		<% @pregames.each do |game| %>
			<h4><%= link_to game.name, game %></h4>
		<% end %>
	<% end %>

	<% if @ongoing_games.count > 0 %>
		<h2>Current Games</h2>

		<% @ongoing_games.each do |game| %>
			<h4><%= link_to game.name, game %></h4>
			<p><%= link_to "Manage Team Fees", team_fees_game_path(game), class: "btn btn-default btn-xs" %></p>

			<% if Kill.where(game_id: game.id, confirmed: false).select { |kill| kill.appear_at.nil? || kill.appear_at < DateTime.now }.count > 0 %>
				<h5>Reported Kills</h5>
				
				<ul>
					<% Kill.where(game_id: game.id, confirmed: false).select { |kill| kill.appear_at.nil? || kill.appear_at < DateTime.now }.sort_by { |kill| kill.appear_at || kill.created_at }.each do |kill| %>
						<li>
							<p>
								<%= link_to kill.target.name, kill.target %>
								was killed

								<% if kill.killer %>
									by
									<%= link_to kill.killer.name, kill.killer %>
								<% end %>

								via
								<%= kill.readable_kind %>.

								<div class="btn-group btn-group-xs">
									<%= link_to "Confirm", confirm_kill_path(kill), method: :post, class: "btn btn-danger btn-xs" %>
									<%= link_to "Decline", kill, method: :delete, class: "btn btn-danger btn-xs" %>
								</div>
							</p>
						</li>
					<% end %>
				</ul>
			<% end %>

			<% if Neutralization.where(game_id: game.id, confirmed: false).order(:created_at).count > 0 %>
				<h5>Reported Neutralizations</h5>
				
				<ul>
					<% Neutralization.where(game_id: game.id, confirmed: false).order(:created_at).each do |neutralization| %>
						<li>
							<p>
								<%= link_to neutralization.killer.name, neutralization.killer %> was neutralized by <%= link_to neutralization.target.name, neutralization.target %>.

								<div class="btn-group btn-group-xs">
									<%= link_to "Confirm", confirm_neutralization_path(neutralization), method: :post, class: "btn btn-danger btn-xs" %>
									<%= link_to "Decline", neutralization, method: :delete, class: "btn btn-danger btn-xs" %>
								</div>
							</p>
						</li>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	<% end %>

	<% if !@unpaid_games.empty? %>
		<h2>Unpaid Fees</h2>
		
		<p>
			Some team fees from games that have ended have <i>still</i> not been paid.
			They are listed below.
			The links go to the team fee management pages.
		</p>

		<ul>
			<% @unpaid_games.each do |game| %>
				<li><%= link_to_if_can_read game.name, team_fees_game_path(game) %></li>
			<% end %>
		</ul>
	<% end %>

	<%= link_to "Create Game", new_game_path, class: "btn btn-default" %>
<% else %>
	<% if current_user.in_game? && !current_user.terminator? %>
		<p>
			You have <%= precise_distance_of_time_in_words_to_now @team.participation.termination_at, no_time: true %> left to complete an assassination before autotermination.
			
			<% if precise_distance_of_time_in_words_to_now(@team.participation.termination_at, interval: :day) == 0 && @team.participation.game.remaining_teams.count > 2 %>
				<% if @team.participation.termination_at > DateTime.now %>
					Watch out!
					Terminators have been sent out to terminate your team.
				<% else %>
					Autotermination is imminent!
				<% end %>
			<% end %>
		</p>
	<% end %>
	
	<p>
		You are currently <%= current_user.out_of_town ? "out-of-town" : "in town" %>.

		<% if current_user.in_game? %>
			Your team as a whole is currently <%= @team.out_of_town? ? "out-of-town" : "in town" %>.
			Your team has <%= precise_distance_of_time_in_words_to_now @team.remaining_out_of_town_end, no_time: true %> <%= @team.out_of_town? ? "until termination due to being out-of-town for too long" : "remaining where you must all be out-of-town until being terminated due to being out-of-town for too long" %>.
		<% end %>

		<%= link_to "Toggle Out-of-Town", out_of_town_user_path(current_user), method: :post, class: "btn btn-default" %>
	</p>

	<p>
		<% if @team %>
			You are a member of <%= link_to @team.name, @team %>.
		<% else %>
			You are not a member of any team.
			A friend may add you to their team; they simply need to know your email address.
			Otherwise, you should create your own team.

			<%= link_to "Create Team", new_team_path, class: "btn btn-default" %>
		<% end %>
	</p>

	<% if @team && !@team.participations.select { |participation| participation.game.pregame? }.empty? %>
		<p>
			Your team is scheduled to participate in the <%= pluralize @team.participations.select { |participation| participation.game.pregame? }.count, "game" %> <%= @team.participations.select { |participation| participation.game.pregame? }.map { |participation| link_to participation.game.name, participation.game }.to_sentence %>.
		</p>
	<% end %>

	<% if current_user.in_game? %>
		<% unless @team.eliminated? %>
			<% unless current_user.terminator? %>
				<p>
					Your team is participating in the game <%= @team.participation.game.name %>.
				</p>

				<p>
					Your team has paid $<%= number_with_precision @team.participation.paid_amount, precision: 2 %> of the team fee of $<%= number_with_precision @team.participation.game.team_fee, precision: 2 %> for this game.
					<% if @team.participation.paid_amount < @team.participation.game.team_fee %>
						Please pay the remaining $<%= number_with_precision @team.participation.game.team_fee - @team.participation.paid_amount, precision: 2 %> to an admin and they will adjust your paid amount.
					<% else %>
						Good job paying your team fee!
					<% end %>
				</p>					

				<% if current_user.dead? %>
					<p>
						You have been killed.
						Your team is still alive in the competition, however.
					</p>
				<% end %>

				<% if current_user.neutralized? %>
					<p>
						You are currently neutralized, and cannot hunt anyone.
						The neutralization is set to end in <%= precise_distance_of_time_in_words_to_now current_user.neutralized_end %>.
					</p>
				<% end %>

				<% Kill.where(game_id: @team.participation.game_id, target_id: current_user.id, confirmed: false).select { |kill| kill.appear_at.nil? || kill.appear_at < DateTime.now }.each do |kill| %>
					<p>
						<% if kill.assassination? %>
							<%= kill.killer.name %> killed you.
						<% elsif kill.termination? %>
							You were terminated.
						<% elsif kill.out_of_town? %>
							Your team was collectively out-of-town for too long, resulting in your death.
						<% elsif kill.out_of_time? %>
							Your team ran out of time to conduct a kill, resulting in your death.
						<% elsif kill.disqualification? %>
							You were disqualified.
						<% elsif kill.quitting? %>
							You quit.
						<% end %>
						If this did not occur, contact an admin, and they can delete it.

						<%= link_to "Confirm", confirm_kill_path(kill), method: :post, class: "btn btn-danger btn-xs" %>
					</p>
				<% end %>

				<% Neutralization.where(game_id: @team.participation.game_id, target_id: current_user.id, confirmed: false).each do |neutralization| %>
					<p>
						You neutralized <%= neutralization.target.name %>.
						If this did not occur, contact an admin, and they can delete it.

						<%= link_to "Confirm", confirm_neutralization_path(neutralization), method: :post, class: "btn btn-danger btn-xs" %>
					</p>
				<% end %>
				
				<p>
					<% unless @team.completed_contracts.empty? %>
						Your team has successfully completed <%= pluralize @team.completed_contracts.count, "contract" %>:
						to assassinate <%= @team.completed_contracts.map { |contract| contract.target.name }.to_sentence %>.
					<% end %>
					
					Your team is currently contracted to assassinate <%= link_to @team.target.name, @team.target %>.
				</p>
			<% else %>
				<h2>Hit List</h2>

				<% if !Team.to_be_terminated(@team.participation.game).empty? && @team.participation.game.remaining_teams.count > 2 %>
					<ul>
						<% Team.to_be_terminated(@team.participation.game).each do |team| %>
							<li>
								<%= link_to team.name, team %>
								(<%= precise_distance_of_time_in_words_to_now team.participation.termination_at, no_time: true %> remaining before auto-termination)

								<ul>
									<% team.members.select { |member| member.alive? }.each do |member| %>
										<li>
											<%= link_to member.name, member %>

											<%= link_to "Terminate", new_kill_path(email: member.email, kind: "termination"), class: "btn btn-danger btn-xs" %>
										</li>
									<% end %>
								</ul>
							</li>
						<% end %>
					</ul>
				<% else %>
					<p>Nobody should be terminated currently.</p>
				<% end %>
			<% end %>
		<% else %>
			<p>
				Your team has been eliminated from the game <%= @team.participation.game.name %>.
				Good luck next time!
			</p>
		<% end %>
	<% end %>
<% end %>
