<h1>Dashboard</h1>

<% if current_user.admin? %>
	<% if @pregames.count > 0 %>
		<h2>Games To Be Started</h2>

		<% @pregames.each do |game| %>
			<h4><%= link_to game.name, game %></h4>
		<% end %>
	<% end %>

	<% if @ongoing_games.count > 0 %>
		<h2>Current Games</h2>

		<% @ongoing_games.each do |game| %>
			<h4><%= link_to game.name, game %></h4>

			<% if Kill.where(game_id: game.id, confirmed: false).order(:created_at).count > 0 %>
				<h5>Reported Kills</h5>
				
				<ul>
					<% Kill.where(game_id: game.id, confirmed: false).order(:created_at).each do |kill| %>
						<li>
							<p>
								<%= link_to kill.target.name, kill.target %> was killed

								<% if kill.killer %>
									by <%= link_to kill.killer.name, kill.killer %>
								<% end %>

								via <%= kill.kind %>.

								<div class="btn-group btn-group-xs">
									<%= link_to "Confirm", confirm_kill_path(kill), method: :post, class: "btn btn-danger btn-xs" %>
									<%= link_to "Decline", kill, method: :delete, class: "btn btn-danger btn-xs" %>
								</div>
							</p>
						</li>
					<% end %>
				</ul>
			<% end %>

			<% if Neutralization.where(game_id: game.id, confirmed: false).order(:created_at).count > 0 %>
				<h5>Reported Neutralizations</h5>
				
				<ul>
					<% Neutralization.where(game_id: game.id, confirmed: false).order(:created_at).each do |neutralization| %>
						<li>
							<p>
								<%= link_to neutralization.killer.name, neutralization.killer %> was neutralized by <%= link_to neutralization.target.name, neutralization.target %>.

								<div class="btn-group btn-group-xs">
									<%= link_to "Confirm", confirm_neutralization_path(neutralization), method: :post, class: "btn btn-danger btn-xs" %>
									<%= link_to "Decline", neutralization, method: :delete, class: "btn btn-danger btn-xs" %>
								</div>
							</p>
						</li>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	<% end %>

	<%= link_to "Create Game", new_game_path, class: "btn btn-default" %>
<% else %>
	<% if current_user.in_game? && !current_user.terminator? %>
		<p>
			You have <%= current_user.team.remaining_kill_time_format %> left to complete an assassination before termination.

			<% if current_user.team.remaining_kill_time.in_days.floor == 0 %>
				Watch out!
				Terminators have been sent out to terminate your team.
			<% end %>
		</p>
	<% end %>
	
	<p>
		You are currently <%= current_user.out_of_town ? "out-of-town" : "in town" %>.

		<%= link_to "Toggle Out-of-Town", out_of_town_user_path(current_user), method: :post, class: "btn btn-default" %>
	</p>

	<p>
		<% if @team %>
			You are a member of <%= link_to @team.name, @team %>.
		<% else %>
			You are not a member of any team.
			A friend may add you to their team; they simply need to know your email address.
			Otherwise, you should create your own team.

			<%= link_to "Create Team", new_team_path, class: "btn btn-default" %>
		<% end %>
	</p>

	<% if current_user.team && !current_user.team.participations.select { |participation| participation.game.pregame? }.empty? %>
		<p>
			Your team is scheduled to participate in the <%= pluralize current_user.team.participations.select { |participation| participation.game.pregame? }.count, "game" %> <%= current_user.team.participations.select { |participation| participation.game.pregame? }.map { |participation| link_to participation.game.name, participation.game }.to_sentence %>.
		</p>
	<% end %>

	<% if current_user.in_game? %>
		<% unless current_user.team.eliminated? %>
			<% unless current_user.terminator? %>
				<p>
					Your team is participating in the game <%= current_user.team.participation.game.name %>.
				</p>

				<% if current_user.dead? %>
					<p>
						You have been killed.
						Your team is still alive in the competition, however.
					</p>
				<% end %>

				<% Kill.where(game_id: current_user.team.participation.game_id, target_id: current_user.id, confirmed: false).each do |kill| %>
					<p>
						<% if kill.assassination? %>
							<%= kill.killer.name %> killed you.
						<% elsif kill.termination? %>
							You were terminated.
						<% elsif kill.out_of_town? %>
							You went out-of-town when all of your team members were dead.
						<% end %>
						If this did not occur, contact an admin, and they can delete it.

						<%= link_to "Confirm", confirm_kill_path(kill), method: :post, class: "btn btn-danger btn-xs" %>
					</p>
				<% end %>

				<% Neutralization.where(game_id: current_user.team.participation.game_id, target_id: current_user.id, confirmed: false).each do |neutralization| %>
					<p>
						You neutralized <%= neutralization.target.name %>.
						If this did not occur, contact an admin, and they can delete it.

						<%= link_to "Confirm", confirm_neutralization_path(neutralization), method: :post, class: "btn btn-danger btn-xs" %>
					</p>
				<% end %>
				
				<p>
					<% unless current_user.team.completed_contracts.empty? %>
						Your team has successfully completed the <%= pluralize current_user.team.completed_contracts.count, "contract" %> to assassinate <%= current_user.team.completed_contracts.map { |contract| contract.target.name }.to_sentence %>.
					<% end %>
					
					Your team is currently contracted to assassinate <%= link_to current_user.team.target.name, current_user.team.target %>.
				</p>
			<% else %>
				<h2>Hit List</h2>

				<% unless Team.to_be_terminated(@team.participation.game).empty? %>
					<ul>
						<% current_user.team.participation.game.teams.select { |team| !team.terminators? && team.remaining_kill_time.in_days.floor == 0 && team.participation.termination_at > DateTime.now }.sort_by { |team| team.participation.termination_at }.each do |team| %>
							<li>
								<%= link_to team.name, team %>
								(<%= team.remaining_kill_time_format %> remaining before auto-termination)

								<ul>
									<% team.members.select { |member| member.alive? }.each do |member| %>
										<li>
											<%= link_to member.name, member %>

											<%= link_to "Terminate", new_kill_path(email: member.email, kind: "termination"), class: "btn btn-danger btn-xs" %>
										</li>
									<% end %>
								</ul>
							</li>
						<% end %>
					</ul>
				<% else %>
					<p>Nobody should be terminated currently.</p>
				<% end %>
			<% end %>
		<% else %>
			<p>
				Your team has been eliminated from the game <%= current_user.team.participation.game.name %>.
				Good luck next time!
			</p>
		<% end %>
	<% end %>
<% end %>
