<h1>Listing neutralizations</h1>

<table>
	<thead>
		<tr>
			<th>Neutralizer</th>
			<th>Neutralized</th>
			<th>Game</th>
			<th>Start Time</th>
			<% if current_user && current_user.admin? %><th>Confirmed</th><% end %>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @neutralizations.each do |neutralization| %>
			<tr>
				<td><%= link_to_if_can_read neutralization.target.name, neutralization.target %></td>
				<td><%= link_to_if_can_read neutralization.killer.name, neutralization.killer %></td>
				<td><%= link_to_if_can_read neutralization.game.name, neutralization.game %></td>
				<td><%= neutralization.start.strftime "%b %-d %Y at %l:%M %p" %></td>
				<% if current_user && current_user.admin? %><td><%= neutralization.confirmed.humanize %></td><% end %>
				<td>
					<div class="btn-group btn-group-xs">
						<%= link_to "Show", neutralization, class: "btn btn-default btn-xs" if can?(:read, neutralization) %>
						<%= link_to "Edit", edit_neutralization_path(neutralization), class: "btn btn-default btn-xs" if can?(:update, neutralization) %>
						<%= link_to "Destroy", neutralization, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" if can?(:destroy, neutralization) %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to "New Neutralization", new_neutralization_path, class: "btn btn-default" if can?(:create, Neutralization) %>
