<p>
	<%= link_to_if_can_read @neutralization.killer.name, @neutralization.killer %>
	was neutralized by
	<%= link_to_if_can_read @neutralization.target.name, @neutralization.target %>
	in the game
	<%= link_to_if_can_read @neutralization.game.name, @neutralization.game %>.
</p>

<p>
	This neutralization was reported on <%= @neutralization.created_at.strftime "%b %-d %Y at %l:%M %p" %> and
	<% if @neutralization.start %>
		was confirmed and started on <%= @neutralization.start.strftime "%b %-d %Y at %l:%M %p" %>, lasting until <%= @neutralization.end_time.strftime "%b %-d %Y at %l:%M %p" %>.
	<% else %>
		has not yet been confirmed.
	<% end %>
</p>

<% if @neutralization.how %>
	<p>
		How this neutralization occurred: "<%= neutralization.how %>"
	</p>
<% end %>

<% if @neutralization.picture_url %>
	<p><%= image_tag @neutralization.picture_url, alt: "Invalid Image URL" %></p>
<% end %>

<%= link_to "Edit", edit_neutralization_path(@neutralization), class: "btn btn-default" if can?(:update, @neutralization) %>
