<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmed:</strong>
  <%= @neutralization.confirmed %>
</p>

<p>
  <strong>Start:</strong>
  <%= @neutralization.start %>
</p>

<p>
  <strong>Killer:</strong>
  <%= @neutralization.killer_id %>
</p>

<p>
  <strong>Target:</strong>
  <%= @neutralization.target_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @neutralization.game_id %>
</p>

<p>
  <strong>How:</strong>
  <%= @neutralization.how %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @neutralization.picture_url %>
</p>

<%= link_to 'Edit', edit_neutralization_path(@neutralization) %> |
<%= link_to 'Back', neutralizations_path %>
