<%= form_for(@kill) do |f| %>
	<% if @kill.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@kill.errors.count, "error") %> prohibited this kill from being saved:</h2>

			<ul>
				<% @kill.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :picture_url, "URL of picture of kill" %>
		<br>
		<%= f.text_field :picture_url, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :how, "How did this kill occur?" %>
		<br>
		<%= f.text_area :how, class: "form-control" %>
	</div>

	<% if current_user.admin? && @kill.kind && @kill.kind == "termination" %>
		<div class="form-group">
			<%= f.label :killer_id, "Who made this kill?" %>
			<br>
			<%= f.select :killer_id, options_from_collection_for_select(terminators, "id", "name"), {}, class: "form-control" %>
		</div>
	<% else %>
		<%= f.hidden_field :killer_id, value: @kill.killer_id unless @kill.killer_id.nil? %>
	<% end %>

	<%= f.hidden_field :target_id, value: @kill.target_id unless @kill.target_id.nil? %>
	<%= f.hidden_field :kind, value: @kill.kind unless @kill.kind.nil? %>
	<%= f.hidden_field :game_id, value: @kill.game_id unless @kill.game_id.nil? %>

	<div class="actions">
		<%= f.submit class: "btn btn-success" %>
	</div>
<% end %>
