<h1>Kills</h1>

<table>
	<thead>
		<tr>
			<th>Target</th>
			<th>Killer</th>
			<th>Game</th>
			<th>Type</th>
			<% if current_user && current_user.admin? %><th>Confirmed</th><% end %>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		<% @kills.each do |kill| %>
			<tr>
				<td><%= link_to_if_can_read kill.target.name, kill.target %></td>
				<td><%= kill.killer ? link_to_if_can_read(kill.killer.name, kill.killer) : "None" %></td>
				<td><%= link_to_if_can_read kill.game.name, kill.game %></td>
				<td><%= kill.readable_kind.capitalize %></td>
				<% if current_user && current_user.admin? %><td><%= kill.confirmed.humanize %></td><% end %>
				<td>
					<div class="btn-group btn-group-xs">
						<%= link_to "Show", kill, class: "btn btn-default btn-xs" if can?(:read, kill) %>
						<%= link_to "Edit", edit_kill_path(kill), class: "btn btn-default btn-xs" if can?(:update, kill) %>
						<%= link_to "Destroy", kill, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" if can?(:destroy, kill) %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to "New Kill", new_kill_path, class: "btn btn-default" if can?(:create, Kill) %>
