<h1>Listing kills</h1>

<table>
  <thead>
    <tr>
      <th>Confirmed</th>
      <th>Target</th>
      <th>Confirmed at</th>
      <th>Picture url</th>
      <th>How</th>
      <th>Kind</th>
      <th>Game</th>
      <th>Killer</th>
      <th>Appear at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kills.each do |kill| %>
      <tr>
        <td><%= kill.confirmed %></td>
        <td><%= kill.target_id %></td>
        <td><%= kill.confirmed_at %></td>
        <td><%= kill.picture_url %></td>
        <td><%= kill.how %></td>
        <td><%= kill.kind %></td>
        <td><%= kill.game_id %></td>
        <td><%= kill.killer_id %></td>
        <td><%= kill.appear_at %></td>
        <td><%= link_to 'Show', kill %></td>
        <td><%= link_to 'Edit', edit_kill_path(kill) %></td>
        <td><%= link_to 'Destroy', kill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kill', new_kill_path %>
