<h1>Report Kill</h1>

<p>
	<% case @kill.kind when "assassination", "termination" %>
		Congratulations on <%= (@kill.kind == "assassination" ? @kill.killer.name : "someone") if current_user.admin? %> <%= @kill.assassination? ? "killing" : "terminating" %> <%= @target.name %>!
	<% when "disqualification" %>
		It is a shame that <%= @target.name %> has to be disqualified.
	<% when "quitting" %>
		It is a shame that <%= @target.name %> quit the game.
	<% end %>

	<% if current_user.admin? %>
		The kill will be confirmed automatically.
	<% else %>
		The kill will need to be confirmed by <%= @target.name %> or an admin before it counts.
	<% end %>

	Please fill out the information below about your kill.
	It is optional, but it is greatly appreciated if it is filled out.
</p>

<%= render "form", terminators: @terminators %>
