<p>
	<%= link_to_if_can_read @kill.target.name, @kill.target %>
	was killed via
	<%= @kill.readable_kind %>
	<% if @kill.killer %>
		by
		<%= link_to_if_can_read @kill.killer.name, @kill.killer %>
	<% end %>
	in the game
	<%= link_to_if_can_read @kill.game.name, @kill.game %>.
</p>

<p>
	This kill was reported on <%= @kill.created_at.strftime "%b %-d %Y at %l:%M %p" %> and confirmed on <%= @kill.confirmed_at.strftime "%b %-d %Y at %l:%M %p" %>.
</p>

<% if @kill.how %>
	<p>
		How this kill occurred: "<%= @kill.how %>"
	</p>
<% end %>

<% if @kill.picture_url %>
	<p><%= image_tag @kill.picture_url, alt: "Invalid Image URL" %></p>
<% end %>

<%= link_to "Edit", edit_kill_path(@kill) if can?(:update, @kill) %>
