<p id="notice"><%= notice %></p>

<p>
	<strong>Confirmed:</strong>
	<%= @kill.confirmed %>
</p>

<p>
	<strong>Target:</strong>
	<%= @kill.target_id %>
</p>

<p>
	<strong>Confirmed at:</strong>
	<%= @kill.confirmed_at %>
</p>

<p>
	<strong>Picture url:</strong>
	<%= @kill.picture_url %>
</p>

<p>
	<strong>How:</strong>
	<%= @kill.how %>
</p>

<p>
	<strong>Kind:</strong>
	<%= @kill.kind %>
</p>

<p>
	<strong>Game:</strong>
	<%= @kill.game_id %>
</p>

<p>
	<strong>Killer:</strong>
	<%= @kill.killer_id %>
</p>

<p>
	<strong>Appear at:</strong>
	<%= @kill.appear_at %>
</p>

<%= link_to 'Edit', edit_kill_path(@kill) %> |
<%= link_to 'Back', kills_path %>
