<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :name %>
		<br>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :email %>
		<br>
		<%= f.text_field :email, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :password %>
		<br>
		<%= f.password_field :password, class: "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :password_confirmation %>
		<br>
		<%= f.password_field :password_confirmation, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :phone_number %>
		<br>
		<%= f.text_field :phone_number, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :phone_number_public, "Would you like your phone number to be displayed to the team that is contracted to kill you?" %>
		<%= f.check_box :phone_number_public %>
	</div>
	
	<div class="form-group">
		<%= f.label :address %>
		<br>
		<%= f.text_field :address, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :address_public, "Would you like your address to be displayed to the team that is contracted to kill you?" %>
		<%= f.check_box :address_public %>
	</div>
	
	<div class="form-group">
		<%= f.label :graduation_year %>
		<br>
		<%= f.number_field :graduation_year, value: Date.today.year, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :description, "Describe yourself (optional)" %>
		<br>
		<%= f.text_area :description, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :profile_picture_url, "Direct link (URL) to your profile picture" %>
		<br>
		<%= f.text_field :profile_picture_url, class: "form-control" %>
	</div>
	
	<div class="form-group">
		<%= f.label :out_of_town, "Are you currently out-of-town?" %>
		<%= f.check_box :out_of_town %>
	</div>
	
	<div class="form-group">
		<%= f.label :willing_to_pay_amount, "Are you willing to pay any money per game for a more extravagant prize for the winners?  If so, how much are you willing to pay?" %>
		<br>
		<div class="input-group">
			<span class="input-group-addon">$</span>
			<%= f.text_field :willing_to_pay_amount, value: "0.00", class: "form-control" %>
		</div>
	</div>
	
	<div class="actions">
		<%= f.submit class: "btn btn-success" %>
	</div>
<% end %>
