<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	
	<div class="field">
		<%= f.label :email %><br>
		<%= f.text_field :email %>
	</div>
	
	<div class="field">
		<%= f.label :password %><br>
		<%= f.password_field :password %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation %><br>
		<%= f.password_field :password_confirmation %>
	</div>
	
	<div class="field">
		<%= f.label :phone_number %><br>
		<%= f.text_field :phone_number %>
	</div>
	
	<div class="field">
		<%= f.label :phone_number_public, "Would you like your phone number to be displayed to the team that is contracted to kill you?" %><br>
		<%= f.check_box :phone_number_public %>
	</div>
	
	<div class="field">
		<%= f.label :address %><br>
		<%= f.text_field :address %>
	</div>
	
	<div class="field">
		<%= f.label :address_public, "Would you like your address to be displayed to the team that is contracted to kill you?" %><br>
		<%= f.check_box :address_public %>
	</div>
	
	<div class="field">
		<%= f.label :graduation_year %><br>
		<%= f.number_field :graduation_year, value: Date.today.year %>
	</div>
	
	<div class="field">
		<%= f.label :description, "Describe yourself" %><br>
		<%= f.text_area :description %>
	</div>
	
	<div class="field">
		<%= f.label :profile_picture_url, "Direct link (URL) to your profile picture" %><br>
		<%= f.text_field :profile_picture_url %>
	</div>
	
	<div class="field">
		<%= f.label :out_of_town, "Are you currently out-of-town?" %><br>
		<%= f.check_box :out_of_town %>
	</div>
	
	<div class="field">
		<%= f.label :willing_to_pay_amount, "Are you willing to pay any money for a more extravagant prize for the winners?  If so, how much are you willing to pay?" %><br>
		<%= f.text_field :willing_to_pay_amount, value: 0.0 %>
	</div>

	<%= f.hidden_field :admin, value: false %>
	<%= f.hidden_field :paid_amount, value: 0.0 %>
	
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
