<div class="row">
	<div class="col-md-4">
		<%= image_tag @user.profile_picture_url, width: "100%" %>

		<h1><%= @user.name %></h1>
	</div>
	
	<div class="col-md-8">
		<p>
			<strong>Email:</strong>
			<%= @user.email %>
		</p>

		<% if @user.phone_number_public %>
			<p>
				<strong>Phone number:</strong>
				<%= @user.phone_number %>
			</p>
		<% end %>

		<% if @user.address_public %>
			<p>
				<strong>Address:</strong>
				<%= @user.address %>
			</p>
		<% end %>

		<p>
			<strong>Graduation year:</strong>
			<%= @user.graduation_year %>
		</p>

		<p>
			<strong>Out of town:</strong>
			<%= @user.out_of_town %>
		</p>

		<%= link_to "Toggle Out-of-Town", out_of_town_user_path(@user), method: :post, class: "btn btn-default" if can?(:update, @user) %>

		<% if @user.description %>
			<p><%= markdown @user.description %></p>
		<% end %>
	</div>
</div>

<%= link_to "Edit", edit_user_path(@user), class: "btn btn-default" if can?(:update, @user) %>
