<div class="row">
	<div class="col-md-4">
		<%= image_tag @user.profile_picture_url, width: "100%" %>

		<h1><%= @user.name %></h1>
	</div>
	
	<div class="col-md-8">
		<% if @user.phone_number_public || current_user.admin || (@user.team && @user.team.members.include?(current_user)) %>
			<p>
				<strong>Email:</strong>
				<%= @user.email %>
			</p>
		<% end %>

		<% if @user.phone_number_public || current_user.admin || (@user.team && @user.team.members.include?(current_user)) %>
			<p>
				<strong>Phone number:</strong>
				<%= @user.phone_number %>
			</p>
		<% end %>

		<% if @user.address_public || current_user.admin || (@user.team && @user.team.members.include?(current_user)) %>
			<p>
				<strong>Address:</strong>
				<%= @user.address %>
			</p>
		<% end %>

		<p>
			<strong>Graduation year:</strong>
			<%= @user.graduation_year %>
		</p>

		<p>
			<strong>Out of town:</strong>
			<%= @user.out_of_town %>
		</p>

		<% if @user.description %>
			<p><%= markdown @user.description %></p>
		<% end %>
	</div>
</div>

<%= link_to "Edit", edit_user_path(@user), class: "btn btn-default" if can?(:update, @user) %>
