<div class="row">
	<div class="col-md-4">
		<%= image_tag @user.profile_picture_url, width: "100%", alt: "Invalid Image URL" %>

		<h1><%= @user.name %></h1>
	</div>

	<div class="col-md-8">
		<% if @user.admin? %>
			<h3>Administrator</h3>
		<% end %>

		<% if @user.email_public || (current_user && (@user.id == current_user.id || current_user.admin? || (@user.team && @user.team.members.include?(current_user)))) %>
			<p>
				<strong>Email:</strong>
				<%= @user.email %>
			</p>
		<% end %>

		<% if @user.phone_number_public || (current_user && (@user.id == current_user.id || current_user.admin? || (@user.team && @user.team.members.include?(current_user)))) %>
			<p>
				<strong>Phone number:</strong>
				<%= @user.phone_number %>
			</p>
		<% end %>

		<% if @user.address_public || (current_user && (@user.id == current_user.id || current_user.admin? || (@user.team && @user.team.members.include?(current_user)))) %>
			<p>
				<strong>Address:</strong>
				<%= @user.address %>
			</p>
		<% end %>

		<p>
			<strong>Graduation year:</strong>
			<%= @user.graduation_year %>
		</p>

		<p>
			<strong>Out of town:</strong>
			<%= @user.out_of_town.humanize %>
			<% if can?(:update, @user) %>
				<%= link_to "Toggle", out_of_town_user_path(@user), method: :post, class: "btn btn-default btn-xs" %>
			<% end %>
		</p>

		<% if @user.description %>
			<p><%= simple_format @user.description %></p>
		<% end %>

		<% if current_user && current_user.admin? %>
			<p>
				User is <%= "not" unless @user.duplicate %> a duplicate.
				<%= link_to "Toggle", duplicate_user_path(@user), method: :patch, class: "btn btn-primary btn-xs" %>
			</p>
		<% end %>
	</div>
</div>

<%= link_to "Edit", edit_user_path(@user), class: "btn btn-default" if can?(:update, @user) %>
