<h1><%= @game.name %> Events</h1>

<p><%= link_to "View Game", @game, class: "btn btn-default" if can?(:read, @game) %></p>

<% if @confirmed_kills.count > 0 || @confirmed_neutralizations.count > 0 %>
	<p>Occurring in this game have been <%= pluralize @confirmed_kills.count, "kill" %>, <%= pluralize @confirmed_neutralizations.count, "neutralization" %>, and <%= pluralize @eliminated_teams.count, "team elimination" %>.</p>

	<% if @confirmed_kills.count > 0 %>
		<p>
			Number of kills for each type of kill in this game:

			<ul>
				<%# kind goes from 0 to 5 %>
				<% 0.upto(5) do |kind_number| %>
					<li><%= Kill.readable_kind_number(kind_number).capitalize %>: <%= @confirmed_kills.where(kind: kind_number).count %></li>
				<% end %>
			</ul>
		</p>

		<h2>Kills</h2>

		<ol>
			<% @confirmed_kills.each do |kill| %>
				<li>
					<% if kill.killer(@game.id) %>
						<%= link_to_if_can_read kill.killer(@game.id).name, kill.killer(@game.id) %>
						<% if kill.kind == "termination" %>
							(terminators)
						<% end %>
					<% else %>
						<%= kill.readable_kind.capitalize %>
					<% end %>
					<%= glyphicon "arrow-right" %>
					<%= link_to_if_can_read kill.target.name, kill.target %>

					<ul>
						<li>Reported on <%= (kill.appear_at || kill.created_at).in_time_zone.strftime "%b %-d at %l:%M %p" %></li>
						<li>Confirmed on <%= kill.confirmed_at.in_time_zone.strftime "%b %-d at %l:%M %p" %></li>
						<% if kill.how %>
							<li>
								How occurred: "<%= kill.how %>"
							</li>
						<% end %>
						<% if kill.picture_url %>
							<%= link_to "View image of kill", kill, class: "btn btn-default btn-sm" %>
						<% end %>
					</ul>
				</li>
			<% end %>
		</ol>
	<% end %>

	<% if @confirmed_neutralizations.count > 0 %>
		<h2>Neutralizations</h2>

		<ol>
			<% @confirmed_neutralizations.each do |neutralization| %>
				<li>
					<%= link_to_if_can_read neutralization.target.name, neutralization.target %>
					<%= glyphicon "arrow-right" %>
					<%= link_to_if_can_read neutralization.killer.name, neutralization.killer %>

					<ul>
						<li>Reported on <%= neutralization.created_at.in_time_zone.strftime "%b %-d at %l:%M %p" %></li>
						<li>Confirmed on <%= neutralization.start.in_time_zone.strftime "%b %-d %l:%M %p" %></li>
						<li>
							Lasts from
							<%= neutralization.start.in_time_zone.strftime "%b %-d %l:%M %p" %>
							to
							<%= neutralization.end_time.in_time_zone.strftime "%b %-d %l:%M %p" %>
						</li>
						<% if neutralization.how %>
							<li>How occurred: "<%= neutralization.how %>"</li>
						<% end %>
						<% if neutralization.picture_url %>
							<%= link_to "View image of neutralization", neutralization, class: "btn btn-default btn-sm" %>
						<% end %>
					</ul>
				</li>
			<% end %>
		</ol>
	<% end %>

	<% if @eliminated_teams.count > 0 %>
		<h2>Team Eliminations</h2>

		<ol>
			<% @eliminated_teams.each do |team| %>
				<li>
					<% if team.killer(@game.id) %>
						<%= link_to_if_can_read team.killer(@game.id).name, team.killer(@game.id) %>
					<% else %>
						<%= team.last_confirmed_kill(@game.id).readable_kind.capitalize %>
					<% end %>
					<%= glyphicon "arrow-right" %>
					<%= link_to_if_can_read team.name, team %>

					<ul>
						<li>
							<%= link_to_if_can_read team.name, team %>
							conducted
							<%= pluralize team.kills.where(confirmed: true, game_id: @game.id).count, "kill" %>
							and
							<%= pluralize team.target_neutralizations.where(confirmed: true, game_id: @game.id).count, "neutralization" %>
							during this game.
						</li>
						<li>Occurred on <%= team.eliminated_at(@game.id).in_time_zone.strftime "%b %-d at %l:%M %p" %></li>
					</ul>
				</li>
			<% end %>
		</ol>
	<% end %>
<% else %>
	<p>No events have occurred yet in this game.</p>
<% end %>
