<h1>Events</h1>

<% if @confirmed_kills.count > 0 || @confirmed_neutralizations.count > 0 %>
	<% if @confirmed_kills.count > 0 %>
		<h2>Kills</h2>

		<% @confirmed_kills.each do |kill| %>
			<p>
				<% if kill.killer %>
					<%= link_to kill.killer.name, kill.killer %>
				<% else %>
					<%= kill.readable_kind.capitalize %>
				<% end %>
				<%= glyphicon "arrow-right" %>
				<%= link_to kill.target.name, kill.target %>
			</p>
		<% end %>
	<% end %>

	<% if @confirmed_neutralizations.count > 0 %>
		<h2>Neutralizations</h2>

		<% @confirmed_neutralizations.each do |neutralization| %>
			<p>
				<%= link_to neutralization.target.name, neutralization.target %>
				<%= glyphicon "arrow-right" %>
				<%= link_to neutralization.killer.name, neutralization.killer %>
				from
				<%= neutralization.start.in_time_zone.strftime "%b %-d %l:%M %p" %>
				to
				<%= neutralization.end_time.in_time_zone.strftime "%b %-d %l:%M %p" %>
			</p>
		<% end %>
	<% end %>
<% else %>
	<p>No events have occurred yet in this game.</p>
<% end %>

<% if can?(:read, @game) %>
	<%= link_to "Back to Game", @game, class: "btn btn-default" %>
<% end %>
