<h1>Events</h1>

<% if @confirmed_kills.count > 0 || @confirmed_neutralizations.count > 0 %>
	<% if @confirmed_kills.count > 0 %>
		<h2>Kills</h2>

		<% @confirmed_kills.each do |kill| %>
			<p>
				<% if kill.killer %>
					<%= link_to_if_can_read kill.killer.name, kill.killer %>
				<% else %>
					<%= kill.readable_kind.capitalize %>
				<% end %>
				<%= glyphicon "arrow-right" %>
				<%= link_to_if_can_read kill.target.name, kill.target %>
			</p>

			<%# Using ul for indentation. %>
			<ul>
				<p>Reported on <%= kill.created_at.in_time_zone.strftime "%b %-d at %l:%M %p" %></p>
				<p>Confirmed on <%= kill.confirmed_at.in_time_zone.strftime "%b %-d at %l:%M %p" %></p>
				<% if kill.how %>
					<p>How occurred: "<%= kill.how %>"</p>
				<% end %>
				<% if kill.picture_url %>
					<p><%= link_to "View image of kill", kill.picture_url, class: "btn btn-default btn-sm" %></p>
				<% end %>
			</ul>
		<% end %>
	<% end %>

	<% if @confirmed_neutralizations.count > 0 %>
		<h2>Neutralizations</h2>

		<% @confirmed_neutralizations.each do |neutralization| %>
			<p>
				<%= link_to_if_can_read neutralization.target.name, neutralization.target %>
				<%= glyphicon "arrow-right" %>
				<%= link_to_if_can_read neutralization.killer.name, neutralization.killer %>
			</p>

			<%# Using ul for indentation. %>
			<ul>
				<p>
					Lasts from
					<%= neutralization.start.in_time_zone.strftime "%b %-d %l:%M %p" %>
					to
					<%= neutralization.end_time.in_time_zone.strftime "%b %-d %l:%M %p" %>
				</p>
				<% if neutralization.how %>
					<p>How occurred: "<%= neutralization.how %>"</p>
				<% end %>
				<% if neutralization.picture_url %>
					<p><%= link_to "View image of neutralization", neutralization.picture_url, class: "btn btn-default btn-sm" %></p>
				<% end %>
			</ul>
		<% end %>
	<% end %>
<% else %>
	<p>No events have occurred yet in this game.</p>
<% end %>

<% if can?(:read, @game) %>
	<%= link_to "Back to Game", @game, class: "btn btn-default" %>
<% end %>
