<h1>History</h1>

<% if @games.count > 0 %>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<% @games.each do |game| %>
				<tr>
					<td><%= game.name %></td>
					<td>
						<div class="btn-group btn-group-xs">
							<%= link_to "Show", game, class: "btn btn-default btn-xs" if can?(:read, game) %>
							<%= link_to "Edit", edit_game_path(game), class: "btn btn-default btn-xs" if can?(:update, game) %>
							<%= link_to "Destroy", game, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs" if can?(:destroy, game) %>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<br>
<% else %>
	<p>No history yet!</p>
<% end %>

<%= link_to "New Game", new_game_path, class: "btn btn-default" if can?(:create, Game) %>
