<h1><%= @game.name %></h1>

<%= link_to "Edit", edit_game_path(@game), class: "btn btn-default" if can?(:update, @game) %>

<%# Admin view for game management. %>
<% if !@game.completed? && !@game.in_progress %>
	<p>
		This game has yet to be started.
		An asterisk (*) by a team name designates that it has been updated this year.
		Being updated this year <i>most likely</i> means that it will be willing to participate in this year's game.
	</p>

	<%= form_tag start_game_path(@game) do %>
		<strong>Team Fee</strong>
		<div class="input-group">
			<span class="input-group-addon">$</span>
			<%= text_field_tag :team_fee, nil, value: number_with_precision(@game.suggested_team_fee, precision: 2), class: "form-control" %>
		</div>

		<%= submit_tag "Start", class: "btn btn-success btn-large" %>
	<% end %>

	<%= link_to "Check Validity and Eligibility of Players", eligibility_game_path(@game), class: "btn btn-default btn-sm" %>

	<h2>Teams</h2>

	<% if @game.teams.count == 0 %>
		<p>This game does not have any teams yet.</p>
	<% else %>
		<p>
			The following teams are in this game.

			<%= link_to "Remove All Teams", remove_all_game_path(@game), method: :post, class: "btn btn-danger" %>
		</p>

		<% @game.teams.each_slice(6) do |team_block| %>
			<div class="row">
				<% team_block.each do |team| %>
					<div class="col-md-2">
						<%= image_tag team.logo_url, width: "100%" if team.logo_url %>

						<h4><%= "* " if team.updated_this_year? %><%= link_to team.name, team %></h4>

						<%= form_tag remove_game_path(@game) do %>
							<%= hidden_field_tag :name, team.name %>

							<%= submit_tag "Remove", class: "btn btn-danger" %>
						<% end %>

						<%= form_tag terminators_team_path(team) do %>
							<%= team.participations.find_by(game_id: @game.id).terminators ? "Terminators" : "Not terminators" %>

							<br>

							<%= hidden_field_tag :game_id, @game.id %>
							<%= submit_tag "Toggle", class: "btn btn-default btn-sm" %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	<% end %>

	<h3>Add Team</h3>

	<% unless Team.not_in_game(@game).empty? %>
		<p>
			The following teams are not currently in this game.

			<%= link_to "Add All Teams", add_all_game_path(@game), method: :post, class: "btn btn-success" %>
		</p>
	<% else %>
		<p>All teams are currently in this game.</p>
	<% end %>

	<%# All of the teams that are not in this game. %>
	<% Team.not_in_game(@game).each_slice(6) do |team_block| %>
		<div class="row">
			<% team_block.each do |team| %>
				<div class="col-md-2">
					<%= image_tag team.logo_url, width: "100%" if team.logo_url %>

					<h4><%= "* " if team.updated_this_year? %><%= link_to team.name, team %></h4>

					<%= form_tag add_game_path(@game) do %>
						<%= hidden_field_tag :name, team.name %>

						<%= submit_tag "Add", class: "btn btn-success" %>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
<% elsif @game.in_progress %>
	<%# User view of current game progress. %>
<% elsif @game.completed? %>
	<p>This game lasted <%= precise_distance_of_time_in_words @game.started_at, @game.ended_at %>.</p>

	<h2>
		Winner:
		<%= link_to_if_can_read @winner.name, @winner %>

		<ul>
			<% @winner.members(@game.id).each do |member| %>
				<li><%= link_to_if_can_read member.name, member %></li>
			<% end %>
		</ul>
	</h2>

	<p>
		The other teams were placed:

		<ol>
			<% @ordered_teams.each_with_index do |team, index| %>
				<li value="<%= @places[index] %>">
					<%= link_to_if_can_read team.name, team %>

					<ul>
						<% team.members(@game.id).each do |member| %>
							<li><%= link_to_if_can_read member.name, member %></li>
						<% end %>
					</ul>
				</li>
			<% end %>
		</ol>
	</p>

	<% if @terminators.count > 0 %>
		<p>
			The terminators in this game were:

			<ul>
				<% @terminators.each do |team| %>
					<li>
						<%= link_to_if_can_read team.name, team %>

						<ul>
							<% team.members(@game.id).each do |member| %>
								<li><%= link_to_if_can_read member.name, member %></li>
							<% end %>
						</ul>
					</li>
				<% end %>
			</ul>
		</p>
	<% end %>
<% end %>

<p>
	<div class="btn-group">
		<%= link_to "View Events", events_game_path(@game), class: "btn btn-default" %>
		<%= link_to "Manage Team Fees", team_fees_game_path(@game), class: "btn btn-default" if can?(:team_fees, @game) && !@game.pregame? %>
	</div>
</p>
