<h1>Team Fees</h1>

<p>
	The team fee for this game is $<%= number_with_precision @game.team_fee, precision: 2 %>.
	A total of $<%= number_with_precision @game.prize_money, precision: 2 %> has been paid.
</p>

<h2>Unpaid</h2>

<% if @unpaid.count > 0 %>
	<ul>
		<% @unpaid.each do |participation, team| %>
			<li>
				<%= link_to team.name, team %> has paid $<%= number_with_precision participation.paid_amount, precision: 2 %> and thus owes $<%= number_with_precision @game.team_fee - participation.paid_amount, precision: 2 %>.

				<%= form_tag paid_amount_team_path(team) do %>
					Change paid amount to

					<div class="input-group">
						<span class="input-group-addon">$</span>
						<%= text_field_tag :paid_amount, number_with_precision(@game.team_fee, precision: 2), placeholder: "Paid Amount", class: "form-control" %>
					</div>

					<%= submit_tag "Go", class: "btn btn-success btn-sm" %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>All team fees have been paid!</p>
<% end %>

<h2>Paid</h2>

<% if @paid.count > 0 %>
	<ul>
		<% @paid.each do |participation, team| %>
			<li><%= link_to team.name, team %> paid $<%= number_with_precision participation.paid_amount, precision: 2 %>.</li>
		<% end %>
	</ul>
<% else %>
	<p>No team fees have been paid!</p>
<% end %>
