<h1>Team Fees</h1>

<p>The team fee for this game is $<%= number_with_precision @game.team_fee, precision: 2 %>.</p>

<h2>Unpaid</h2>

<% if @unpaid_participations.count > 0 %>
	<ul>
		<% @unpaid_participations.each_with_index do |participation, index| %>
			<li>
				<%= link_to @unpaid_teams[index].name, @unpaid_teams[index] %> has paid $<%= number_with_precision participation.paid_amount, precision: 2 %> and thus owes $<%= number_with_precision @game.team_fee - participation.paid_amount, precision: 2 %>.

				<%= form_tag paid_amount_team_path(@unpaid_teams[index]) do %>
					Change paid amount to

					<div class="input-group">
						<span class="input-group-addon">$</span>
						<%= text_field_tag :paid_amount, number_with_precision(@game.team_fee, precision: 2), placeholder: "Paid Amount", class: "form-control" %>
					</div>

					<%= submit_tag "Go", class: "btn btn-success btn-sm" %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>All team fees have been paid!</p>
<% end %>

<h2>Paid</h2>

<% if @paid_participations.count > 0 %>
	<ul>
		<% @paid_participations.each_with_index do |participation, index| %>
			<li><%= link_to @paid_teams[index].name, @paid_teams[index] %> paid $<%= number_with_precision participation.paid_amount, precision: 2 %>.</li>
		<% end %>
	</ul>
<% else %>
	<p>No team fees have been paid!</p>
<% end %>
